<h1>Editar Item - <%= itemAEditar.nombre %></h1>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4 formatoListar">
    <form action="/Item/EditarItem" method="post">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese el nuevo nombre del item" name="nombre"
               value="<%= itemAEditar.nombre %>">
      </div>

      <div class="form-group">
        <label>Cantidad</label>
        <input type="number" class="form-control" placeholder="Ingrese la nueva cantidad del item" name="cantidad"
               value="<%= itemAEditar.cantidad %>">
      </div>

      <div class="form-group">
        <label>Peso del item (en gramos)</label>
        <input type="number" min="1" class="form-control" placeholder="Ingrese el nuevo peso del item" name="peso" value="<%= itemAEditar.peso%>">
      </div>
      <input type="hidden" name="idItem" value="<%= itemAEditar.id %>">
      <button type="submit" class="btn btn-primary">Editar Item</button>
    </form>
    <br>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4 text-center formatoListar">
    <h2><%= itemAEditar.nombre %></h2>
    <h3>
      Cantidad: <%= itemAEditar.cantidad %>
    </h3>
    <p>Peso: <%= itemAEditar.peso %> gramo(s)</p>

  </div>
  <div class="col-sm-1"></div>

</div>

